<table class="flightlog">
  <tr>
    <th class="counter">#</th>
		<th class="trip_name">Trip</th>
    <th class="flight-date">Departure</th>
  </tr>
	<%= render :partial => "trips/trip_table_body" %>
  <tr><td colspan="3" class="flightlog-total"><%= pluralize(@trips.length, "trip") %></td></tr>
</table>