<h1>New Trip</h1>

<%= form_for(@trip) do |f| %>

  <%= render 'error_messages' %>
  
  <%= render :partial => 'form_fields', :locals => { :f => f } %>
  
  <p>
    <%= f.submit "Add Trip" %>
  </p>

<% end %>