.bundle
.ruby-version
db/*.sqlite3
log/*.log
tmp/**/*
vendor/bundle
certbot.log
.yardoc/
.vscode/

.DS_Store

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore temporary database dumps.
latest.dump
