<% if boarding_pass.raw_with_metadata %>
  <div class="code">
    <code><% boarding_pass.raw_with_metadata.each_with_index do |field, index| %><span id="field<%= index %>" class="code_status_<%= field[:valid] ? 'good' : 'bad' %>"><%= field[:raw].gsub(" ", "&nbsp;").gsub(/\s/, "▓").html_safe %></span><% end %></code>
  </div>
<% end %>