<table class="flightlog">
  <% data.each do |field, value| %>
    <tr>
      <tr>
        <td class="flight_show_label bcbp_label"><%= field %></td>
        <td class="bcbp_data">
          <div class="bcbp_code"><code><%= value.to_s.gsub(' ','·') %></code></div>
        </td>
      </tr>
    </tr>
  <% end %>
</table>