<% if fields %>
<table class="flightlog">
<% fields.each do |k, v| %>
<tr>
  <td><%= k %></td>
  <td>
    <% v.each do |vk, vv| %>
      <b><%= vk %>:</b> <%= vv %><br/>
    <% end %>
  </td>
</tr>
<% end %>
</table>
<% else %>
<%= render_message(:info, "No fields!")%>
<% end %>