<% linkable = true if local_assigns[:linkable].nil? %>
<% cell_html = image_tag(airline_icon_path(flight.airline.iata_airline_code), :title => flight.airline.airline_name, :class => 'airline_icon') + flight.airline.airline_name + " " + flight.flight_number.to_s %>
<td class="flight_flight<%= @top_row_style %>"><%= "<div class=\"hidden_marker\">Hidden</div>".html_safe if false || flight.trip.hidden %><%= linkable ? link_to(cell_html, flight_path(flight), :title => "View flight details for " + flight.airline.airline_name + " " + flight.flight_number.to_s) : cell_html %></td>