<table class="flightlog" id="flight-table">
  <%= render partial: "flights/flight_header_row" %>
  <%= render partial: "flights/flight_row", collection: @flights, as: :flight %>
  <%= flight_table_total_row(@flights) %>
</table>