<% if value >= 0 %>
	<div class="graph-background"><div class="graph" style="background-size: <%= value*100/maximum %>% 100%;"><%= number_with_delimiter(value, :delimiter => ',') %> <span class="measurement-unit"><%= unit %></span></div></div>
<% end %>