<% if @class_frequency_sorted.count == 0 %>

<div class="alert">All flights have unknown travel classes.</div>

<% else %>

<table class="flightlog">
  <tr class="th">
    <th class="counter">#</th>
		<th class="class_class">Travel Class</th>
    <th class="class_flights">Flights</th>
  </tr>
<% previous_count = nil %>
<% @class_frequency_sorted.each_with_index do |(travel_class, frequency), index| %>
  <% unless travel_class.nil? %>
  <tr>
    <td class="counter"><%= (frequency == previous_count) ? "⋮" : index + 1 %></td>
		<td class="class_class"><%= link_to(travel_class, show_class_path(travel_class), :title => "View #{travel_class.downcase} class flights") %></td>
    <td class="class_flights"><%= render "flights/graph_block", :value => frequency, :maximum => @class_frequency_maximum %></td>
  </tr>
		<% previous_count = frequency %>
  <% end %>
<% end %>
</table>

<% if @unknown_class_flights > 1 %>
<p class="center"><%= @unknown_class_flights %> flights with unknown classes are not included in this table.</p>
<% elsif @unknown_class_flights > 0 %>
<p class="center">1 flight with an unknown class is not included in this table.</p>
<% end %>

<% end %>