<% provide(:title, "Travel Classes") %>
<% provide(:meta_description, "A count of how many times Paul Bogard has flown in each class.") %>
<% add_breadcrumb "Travel Classes", classes_path %>

<h1>Travel Classes</h1>

<% if @classes.reject{|tc| tc[:class_code].nil?}.empty? %>
	<% if @flights.empty? %>
		<%= render partial: "error_no_flights" %>
	<% else %>
		<%= render_message(:warning, "There are no flights in the flight log that include class!") %>
	<% end %>
<% else %>

  <%= render partial: "class_count_table", locals: {classes: @classes, is_summary: false} %>

<% end %>