<h1>Travel Classes</h1>

<% if @flight_classes.empty? %>
	<% if (logged_in? && !Flight.any?) || (!logged_in? && Flight.visitor.empty?) %>
		<%= render 'error_no_flights' %>
	<% else %>
		<div class="alert">There are no flights in the flight log that include class!</p>
	<% end %>
<% else %>

<table class="flightlog">
  <tr class="th">
    <th class="counter">#</th>
		<th class="class_class">Travel Class</th>
    <th class="class_flights">Flights</th>
<% previous_count = nil %>
<% @classes_array.each_with_index do |travel_class, index| %>
  <tr>
		<td class="counter"><%= (travel_class[:count] == previous_count) ? "⋮" : index + 1 %></td>
    <td class="class_class"><%= link_to(travel_class[:travel_class], show_class_path(travel_class[:travel_class]), :title => "View #{travel_class[:travel_class].downcase} class flights") %></td>
    <td class="class_flights"><%= render "graph_block", :value => travel_class[:count], :maximum => @classes_maximum %></td>
  </tr>
	<% previous_count = travel_class[:count] %>
<% end %>
</table>

<% end %>