<h1>Travel Classes</h1>

<table class="flightlog">
  <tr>
    <th class="class_class">Travel Class</th>
    <th class="class_flights">Flights</th>
<% @classes_array.each do |travel_class| %>
  <tr>
    <td class="class_class graph" style="background-size: <%= (travel_class[:count]*150/@classes_maximum) %>px 100%;"><%= link_to("#{travel_class[:travel_class]} class", show_class_path(travel_class[:travel_class]), :title => "View #{travel_class[:travel_class].downcase} class flights") %></td>
    <td class="class_flights"><%= travel_class[:count] %></td>
  </tr>
<% end %>
</table>
