<h1>Email Test</h1>

<% if @passes %>
<table class="flightlog">
  <% @passes.each do |pass| %>
  <tr><td>
    <%= pass %>
  </td></tr>
  <% end %>
</table>
<% else %>
  <div class="error"><%= @error %></div>
<% end %>