<h1>Email Test</h1>

<% if @attachments %>
<table border="1">
  <% @attachments.each do |a| %>
  <tr><td>
    <%= a %>
  </td></tr>
  <% end %>
</table>
<% else %>
  <div class="error"><%= @error %></div>
<% end %>