<% provide(:title, "Boarding Pass Parser") %>
<% provide(:meta_description, "A boarding pass barcode parser.") %>
<% add_breadcrumb "Boarding Pass Parser", boarding_pass_path %>

<h1>Boarding Pass Parser</h1>

<p>Scan your boarding pass with a barcode scanner (PDF417 scanner for paper boarding passes, Aztek Code scanner for electronic boarding passes), then paste it below:</p>

<%= form_tag(build_boarding_pass_path, method: :get, id: "bcbp-form") do %>
  
	<p>
    <%= label :data, "Boarding pass data" %><br />
	  <%= text_area_tag :data, params[:data], size: "60x5", class: "code-mono" %>
  </p>
  
  <p><%= submit_tag "Submit", name: nil %></p>
  
<% end %>