<% provide(:title, "New Flight") %>
<% provide(:button_text, "Add Flight") %>
<% add_breadcrumb "Flights", flights_path %>
<% add_breadcrumb "New Flight", new_flight_menu_path %>
<% add_breadcrumb "Enter Flight Data", new_flight_path %>

<h1>New Flight</h1>

<% if !Airport.any? %>
	<%= render_message(:warning, "There are no airports in the flight log. Please #{link_to "add an airport", new_airport_path} before trying to add a flight.") %>
<% else %>
	<%= render :partial => "form", locals: {flight: @flight, fields: session[:new_flight]} %>
<% end %>