<% provide(:button_text, "Add Flight")%>

<h1>New Flight</h1>

<%= @defaults if @defaults %>

<% if !Airport.any? %>
	<div class="alert">There are no airports in the flight log. Please <%= link_to "add an airport", new_airport_path %> before trying to add a flight.</div>
<% else %>

	<%= render :partial => 'form', locals: @defaults %>

<% end %>