<% provide(:button_text, "Add Flight")%>

<h1>New Flight</h1>

<div>
  <table border="1">
  <% @lookup_fields.sort_by{|k,v| k}.each do |k,v| %>
    <tr><td><%= k %></td><td><%= v %></td></tr>
  <% end %>
  </table>
</div>

<% if !Airport.any? %>
	<%= render_message(:warning, "There are no airports in the flight log. Please #{link_to "add an airport", new_airport_path} before trying to add a flight.") %>
<% else %>

	<%= render :partial => "form", locals: {flight: @flight, fields: @lookup_fields} %>

<% end %>