<% provide(:button_text, "Continue") %>

<h1>New Flight: Create New Airport</h1>

<p>An airport used in your flight is not in our database. Please add the new airport:</p>

<%= render partial: "airports/form" %>