<% provide(:title, "New Flight – Undefined Airline") %>
<% provide(:button_text, "Continue") %>

<h1>New Flight: Create New Airline</h1>

<p>An airline used in your flight is not in our database. Please add the new airline:</p>

<%= render partial: "airlines/form" %>