<h1>Admin</h1>

<ul>
  <li><%= link_to "Annual Flight Summary", annual_flight_summary_path %></li>
  <li><%= link_to "Boarding Pass Validator", boarding_pass_validator_path %></li>
  <li><%= link_to "Import Boarding Passes from Email", import_boarding_passes_path %></li>
</ul>
