<% provide(:title, "Admin") %>
<% add_breadcrumb "Admin", admin_path %>

<h1>Admin</h1>

<ul>
  <li><%= link_to "Annual Flight Summary", annual_flight_summary_path %></li>
  <li><%= link_to "Boarding Pass Validator", boarding_pass_validator_path %></li>
  <li><%= link_to "Airport First Visits", airport_first_visits_path %></li>
</ul>
