<% provide(:title, "Boarding Pass Validator") %>
<% add_breadcrumb "Admin", admin_path %>
<% add_breadcrumb "Boarding Pass Validator", boarding_pass_validator_path %>

<h1>Baording Pass Validator</h1>

<h2>Invalid Passes</h2>
<table class="flightlog">
  <thead>
    <th>Boarding Pass Data</th>
    <th>Edit</th>
  </thead>
<% count = 0 %>
<% @pass_flights.each do |flight| %>
  <% pass = BoardingPass.new(flight.boarding_pass_data) %>
  <% unless pass.is_valid? %>
  <% count += 1 %>
  <tr>
    <td>
      <div style="width: 30em;">
        <%= render partial: "flights/bcbp_compact", locals: {boarding_pass: pass} %>
      </div>
    </td>
    <td>
      <%= link_to "Edit", edit_flight_path(flight.id) %>
    </td>
  </tr>
  <% end %>
<% end %>
  <tr>
    <td colspan="3" class="flightlog-total">
      <%= pluralize(NumberFormat.value(count), "invalid boarding pass") %>
    </td>
  </tr>
</table>