<h1>API</h1>

<h2>recent_flights</h2>

<code>GET /api/recent_flights</code>

<p>Returns a JSON array of all of the user’s flights within the last 10 days, with each record including the <code>departure_utc</code>, <code>id</code>, and <code>fa_flight_id</code>.</p>