<h1>API</h1>

<p>API queries must be authenticated with a valid API key. The API key should be included with the key <code>api-key</code> in the header.</p>

<h2>recent_flights</h2>

<p><code>GET /api/recent_flights</code></p>

<p>Returns a JSON array of all of the user’s flights within the last 10 days, with each record including the <code>departure_utc</code>, <code>id</code>, and <code>fa_flight_id</code>.</p>