<h1>Résumé</h1>

<p>Please contact Paul Bogard at <%= link_to "paul@pbogard.com", 'mailto:paul@pbogard.com' %> for questions or employment opportunities.</p>

<h2>Overview</h2>

<p>Accomplished <span class="resume_job_highlight">Training Systems Engineer</span> with extensive experience leading training simulator programs and managing contractor efforts flexibly through all steps of the acquisition process, providing an uncommon combination of deep technical knowledge and big picture understanding of end user requirements.</p>

<h2>Experience</h2>

<h3>February 2009 - Present</h3>

<p><span class="resume_job_employer">United States Air Force (Civilian)</span> &bull; Wright-Patterson Air Force Base, Ohio<br />
<span class="resume_job_division">Simulators Division (AFMC AFLCMC/WNS)</span></p>
<p>Lead Engineer, KC-46 Aircrew Training Systems</p>
<ul>
  <li>Lead engineer for the $86 million KC-46 Aircrew Training System (ATS) development (up to $2.1 billion with all production options)</li>
	<li>Manage the post-award aspects of the Training Systems Requirement Analysis (TSRA) process</li>
  <li>Represent the training system program offices at design, requirement, program management, earned value management, and various other reviews with contractors and users</li>
  <li>Manage a team of three engineers to evaluate contractor submissions for technical accuracy and acceptability, review schedule and risks, perform all technical aspects of the directorate self-inspection process, and other technical tasks as needed</li>
  <li>Oversee test events and site surveys at contractor facilities and training sites</li>
</ul>

<p>Lead Engineer, B-1 Training Systems</p>
<ul>
  <li>Performed as lead engineer for the $101 million B-1 Training System contract, responsible for all technical aspects of seven separate types of aircrew and maintenance training systems</li>
  <li>Performed as Technical Factor Chief for the 2011 B-1 Training System source selection, which was awarded without protest and saved the government $75 million over 7 years</li>
  <li>Conducted technical evaluation training for simulator engineers new to acquisition, enabling them and their contract negotiators to avoid tens of thousands of dollars of unnecessary costs on sole-source contract change proposals</li>
  <li>Produced a program System Engineering Plan which was used as a template branch-wide</li>
  <li>Oversaw test events at contractor facilities and training sites</li>
  <li>Presented Earned Value Management briefings to division leadership</li>
</ul>

<p>Engineer, F-16 Training Systems</p>
<ul>
  <li>Concurrently performed as lead engineer for the F-16 Mission Training Center (MTC) Interim contract and engineer for the F-16 MTC Procurement contract</li>
  <li>Represented the training system program offices at design, requirement, program management, and various other reviews for both programs</li>
  <li>Evaluated contractor submissions for technical accuracy, feasibility, and reasonability, and developed a new technical evaluation supplemental spreadsheet format, which continues to be used to communicate technical issues to the rest of the integrated product team in an organized manner</li>
  <li>Led the F-16 MTC Interim contract through a new, six-month engineering self-assessment, and developed a standard documentation method for division engineers to use for this assessment</li>
</ul>

<h3>July 2006 - January 2009</h3>

<p><span class="resume_job_employer">United States Air Force (Civilian)</span> &bull; Wright-Patterson Air Force Base, Ohio<br />
<span class="resume_job_division">Engineering Directorate (AFMC ASC/EN)</span></p>
<p>Engineer</p>
<ul>
  <li>Developed an interactive, browser-based tool to enable the Air Transportability and Test Loading Agency (ATTLA) program office to determine which sections of MIL-STD-1791A applied to specific programs with enough flexibility to allow for the standards changes that occurred during development</li>
  <li>Developed and deployed SharePoint site for EN home office, including developing some proofs of concept of new and unique uses of the existing SharePoint framework, a number of which were ultimately implemented instead of purchasing third-party tools to gain equivalent functionality</li>
  <li>Developed training materials on the use of various EN home office websites</li>          
</ul>

<h3>June 2005 - June 2006</h3>

<p><span class="resume_job_employer">TRW Automotive</span> &bull; Marshall, Illinois</p>
<p>Engineering Intern</p>
<ul>
  <li>Developed software to analyze factory assembly line statistics from tens of millions of points of data</li>
  <li>Developed browser-based tools to generate automated reports for facility management on the periodic performance of the factory’s dozens of assembly lines and hundreds of individual machines</li>          
</ul>

<h2>Committees</h2>

<h3>January 2013 - Present</h3>
<p><span class="resume_job_employer">Interservice/Industry Training, Simulation and Education Conference</span></p>
<p>Emerging Concepts Subcommittee Member</p>
<ul>
	<li>Review and accept or reject abstracts and papers on emerging and innovative technologies, methodologies, or concepts for the I/ITSEC conference</li>
	<li>Provide guidance to authors throughout the paper acceptance process and during the conference presentations</li>
</ul>
	
<h2>Education</h2>

<p>
  <span class="resume_education_degree_name">Master of Science in Computer Engineering</span><br />
  <%= link_to "Wright State University", 'http://www.wright.edu/' %> &bull; Dayton, Ohio &bull; November 2008
</p>

<p>
  <span class="resume_education_degree_name">Bachelor of Science in Computer Engineering</span><br />
  <%= link_to "Rose-Hulman Institute of Technology", 'http://www.rose-hulman.edu/' %> &bull; Terre Haute, Indiana &bull; May 2006
</p>

<h2>Certifications</h2>

<p class="resume_certification_name">DoD Acquisition Professional Development Program (APDP)</p>

<ul>
  <li>Systems Planning, Research, Development and Engineering - Systems Engineering (SPRDE-SE) Level III</li>
  <li>Program Management Level I</li>
  <li>Test and Evaluation Level I</li>
</ul>

<h2>Skills</h2>

<h3>Engineering and Management</h3>
<ul>
	<li>Engineering Management</li>
	<li>Earned Value Management</li>
	<li>Product Life Cycle Management</li>
	<li>Systems Engineering</li>
</ul>

<h3>Programming</h3>
<ul>
	<li>Microsoft SQL Server</li>
	<li>MySQL</li>
	<li>Ruby on Rails</li>
	<li>PHP</li>
	<li>HTML</li>
	<li>CSS</li>
	<li>JavaScript</li>
	<li>Java</li>
	<li>C</li>
	<li>C++</li>
</ul>

<h3>Office Software</h3>
<ul>
	<li>Microsoft Office (Word, Excel, PowerPoint, Outlook, Access, Visio)</li>
	<li>Microsoft SharePoint</li>
	<li>Lotus Notes</li>
</ul>

<p><%= link_to(image_tag("about/linkedinprofilebutton.gif", :alt => "Paul Bogard's LinkedIn profile"), 'http://www.linkedin.com/pub/paul-bogard/31/162/a15') %></p>