<h1>Tulsa Penguins</h1>

<%
@penguins.push [1, "Oklahoma Spirit", "N36°03.640'", "W095°51.365'", "2014-09-15"]
@penguins.push [2, "Edison", "N36°06.247'", "W095°56.807'", "2014-09-15"]
@penguins.push [3, "US Cellular", "N36°03.639'", "W095°50.812'", "2014-09-17"]
%>

<%= render :partial => "pages/penguin_table" %>