<h1>New Airport</h1>

<%= form_for(@airport) do |f| %>

  <%= render 'error_messages' %>
  
  <%= render :partial => 'form_fields', :locals => { :f => f } %>
  
  <p>
    <%= f.submit "Add Airport" %>
  </p>

<% end %>