<% if @airline.errors.any? %>
  <div class="message message-error">
    <ul>
      <% @airline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>