<% provide(:title, "Airline Disambiguation") %>
<% provide(:meta_description, "Select an airline that matches #{params[:id]}.") %>

<h1>Airline Disambiguation</h1>

<p>More than one airline matches <span class="disambiguation-highlight"><%= params[:id] %></span>. Which airline did you want to see?</p>

<table class="flightlog">
  <thead>
    <tr>
      <th class="airline-airline">Airline</th>
      <th class="airline-code">IATA</th>
      <th class="airline-code">ICAO</th>
    </tr>
  </thead>
  <tbody>
    <% @airlines.each do |airline| %>
      <tr>
        <td class="airline-airline">
          <%= link_to(airline_icon(airline.slug, title: "View all flights on #{airline.airline_name}") + airline.airline_name, airline_path(airline.slug), title: "View all flights on #{airline.airline_name}") %>
        </td>
        <td class="airline-code code-mono">
          <%= airline.iata_airline_code %>
        </td>
        <td class="airline-code code-mono">
          <%= airline.icao_airline_code %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>