<% provide(:title, "Edit #{@airline.name}") %>
<% provide(:button_text, "Update Airline") %>
<% add_breadcrumb "Airlines", airlines_path %>
<% add_breadcrumb @airline.name, airline_path(@airline.slug) %>
<% add_breadcrumb "Edit Airline", edit_airline_path(@airline) %>

<h1>Edit <%= @airline.name %></h1>
  
<%= render partial: "form" %>