<% adjective ||= nil %>
<span class="distance_primary"><%= number_with_delimiter(distance, delimiter: ",") %> <%= [adjective,"mile".pluralize(distance)].compact.join(" ") %></span>
<span class="distance_secondary">(<%= number_with_delimiter((distance*Distance::KM_PER_MILE).to_i, delimiter: ",") %> km)</span>