<td class="route_route"><%= link_to(iata_mono(route[0][0]) + " &#x21C4; ".html_safe + iata_mono(route[0][1]), route_path(route[0].join('-')), :title => "View flights between #{0} and #{1}") %></td>
<td class="route_distance"><%= number_with_delimiter(route[1], :delimiter => ',') %> <span class="distance_unit">mi</span></td>