/* Boarding Passes */

@mixin invalid {
  color: $color-text-error;
  background-color: lighten($color-background-status-bad, 10%);
  text-shadow: 1px 1px $color-background-status-bad;
}

@mixin unknown {
  color: $color-text-warning;
  background-color: lighten($color-background-status-unknown, 10%);
  text-shadow: 1px 1px $color-background-status-unknown;
}

div.boarding-pass-fields {
  
  div.raw-data {
    width: 21em;
    font-family: $font-stack-monospace;
    line-height: $line-height-raw-bcbp;
    code {
    	white-space: pre-wrap;
    	white-space: -moz-pre-wrap;
    	white-space: -o-pre-wrap;
    	word-wrap: break-word;
    }
    span {
      border: 1px solid $color-background-table;
      background-color: darken($color-background-table, 10%);
      text-shadow: 1px 1px darken($color-background-table, 20%);
      padding: 0 3px;
    }
    span.invalid {
      color: $color-text-error;
      background-color: lighten($color-background-status-bad, 10%);
      text-shadow: 1px 1px $color-background-status-bad;
    }
    span.unknown {
      @include unknown;
    }
  }
  div.interpreted-data {
    margin-top: 5px;
    font-weight: 300;
    white-space: normal;
    line-height: $line-height-raw-bcbp;
  }
  div.interpreted-icon {
    float: right;
  }
  
  
  td {
    vertical-align: top;
  }
  td.description {
    width: 15em;
    white-space: normal;
  }
  td.data {
    width: 22em;
    
  }
  
  tr.invalid {
    td {
      color: $color-text-error;
    }
    span {
      @include invalid;
    }
  }
  tr.unknown {
    td {
      color: $color-text-warning;
    }
    span {
      @include unknown;
    }
  }
}