table.flight-select {
  
  td, th {
    line-height: 1.4;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  td.arrival-departure {
    div {
      width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  th {
    text-align: left;
  }
  
  tr.suggestion {
    td {
      background-color: $color-background-status-good;
    }
  }
  
  span.airport-code {
    font-family: $font-stack-monospace;
    font-weight: 600;
  }
  
  span.airport-name {
    font-size: $font-size-small;
  }
  
  span.time {
    font-weight: normal;
    color: $color-text-secondary;
  }
  
  span.timezone {
    font-size: $font-size-small;
    font-weight: normal;
    color: $color-text-secondary;
  }
  
}

