table.flight-select {
  
  td {
    line-height: 1.4;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  span.airport-code {
    font-family: $font-stack-monospace;
    font-weight: 600;
  }
  
  span.airport-name {
    font-size: $font-size-small;
  }
  
  span.time {
    font-weight: 300;
    color: $color-text-secondary;
  }
  
  span.timezone {
    font-size: $font-size-small;
    font-weight: 300;
    color: $color-text-secondary;
  }
  
}

