body {
	background: $color-background-page;
	font-family: $font-stack-sans-serif;
	color: $color-text-primary;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: $color-background-container;
	padding: 0;
}

#body {
	padding: 10px;
	border-left: 1px solid $color-border-page;
	border-right: 1px solid $color-border-page;
	border-bottom: 1px solid $color-border-page;
}

#title-info {
	float: right;
	padding-top: 6px;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	
	img {
		margin-left: $margin-icon-to-text;
	}
}

/* Generic fields */

.bold {
	font-weight: 600;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.left {
	text-align: left;
}

.light {
	font-weight: 300;
}

.right {
	text-align: right;
}

.small {
  font-size: 85%;
}

.code-mono {
	font-family: $font-stack-monospace;
}


/* Base tags */

abbr {
  text-decoration: none;
  border-bottom: 1px dotted $color-text-primary;
}


a {
	text-decoration: none;
	color: $color-text-link;
}

a:visited {
	color: #75BAFD;
}

a:hover {
	color: $color-text-link-hover;
}

a.sort {
	color: $color-background-menu-primary;
}

a.sort:hover {
	color: #8D4600;
	text-decoration: none;
}

a.warning {
	color: #FF0000 !important;
}


code {
	font-family: $font-stack-monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
  line-height: $line-height-raw-bcbp;
  
  span.active {
    background-color: #444444;
    color: #FFFFFF;
  }
}


div.column {
	display: inline-block;
}

div.field_with_errors {
	display: inline;
	margin-left: 10px;
  input {
  	border: 1px solid #CC0000;
  }
  label {
  	color: $color-text-error;
  }
}

div.graph {
	width: 120px;
	margin: 0;
	border: 1px solid #BED4EA;
	padding: 0 5px;
	background-image: image-url('graph-pixel.png');
	background-position:left center;
	background-repeat:no-repeat;
}

div.graph-background {
	background-color: #FCFCFD;
}

div.hidden-marker {
	float: right;
	background: #FFFF00;
	border: 1px solid $color-text-primary;
	padding: 1px 4px;
	margin-top: 1px;
	margin-left: 8px;
	font-size: 80%;
	font-weight: 600;
}

div.supplemental-code {
	float: right;
	width: 3em;
	text-align: center;
	font-family: $font-stack-monospace;
	font-weight: 300;
	margin-left: $margin-icon-to-text;
	border: 1px solid $color-border-table;
}

div.supplemental-info {
	float: right;
	text-align: right;
	font-weight: 300;
	margin-left: $margin-icon-to-text;
}

div.intro_box {
	padding: 10px;
	margin: 2px;
	text-align: center;
	vertical-align: top;
}

div.intro_box h2 {
	margin: 0;
	font-size: 140%;
}

div.intro_box p {
	margin: 0;
	text-align: center;
	font-weight: 400;
	-webkit-text-size-adjust:100%;
}

div.intro_box table {
	margin: 3px 0;
}

div.page_navigation {
	padding: 0;
	margin-top: -15px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
	border-bottom: 1px solid $color-background-page;
}

div.page_navigation ul {
	padding: 0;
	margin: 0;
}

div.page_navigation li {
	list-style-type: none;
	display: inline-block;
	height: 100%;
	margin: 0 -5px;
	padding: 3px 10px;
	vertical-align: middle;
}


h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 600;
}

h1 {
	font-size: 200%;
	margin-top: 10px;
	margin-bottom: 20px;
}
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }


p {
	margin-left: $margin-paragraph;
	margin-right: $margin-paragraph;
}

p.comment {
  border-top: 1px solid #BED4EA;
  border-bottom: 1px solid #BED4EA;
  background-color: #F9F9FB;
  padding: 0.25em 0;
}

p.distance {
	text-align: center;
	margin-top: 0;
}

p.new, p.new-legend {
	text-align: center;
  text-shadow: 0 0 3px #FFBB56;
}

p.note {
	text-align: center;
}

p.total {
	-webkit-text-size-adjust:100%
}

p.pre-footer {
	border-top: 1px solid $color-border-page;
	padding-top: 10px;
	text-align: center;
}

small.airport-name {
  text-transform: uppercase;
  font-weight: 300;
}

span.aircraft-name {
	font-style: italic;
}

span.disabled {
	color: $color-text-disabled;
	text-decoration: line-through;
}

span.distance-primary {
	font-weight: 600;
}

span.distance-secondary {
	color: $color-text-secondary;
	font-weight: 300;
}

span.measurement-unit {
	color: $color-text-secondary;
	font-weight: 300;
}

span.aircraft-manufacturer {
	font-weight: 300;
}

span.flight-city {
	color: $color-text-secondary;
	font-weight: 300;
}

span.flight-code {
	font-size: 150%;
	font-weight: 600;
}

span.flight-route-distance {
	color: $color-text-secondary;
	font-weight: 300;
}

span.flight-section-route {
	color: $color-text-secondary;
	font-size: 85%;
}

span.route-arrow {
  color: $color-text-tertiary;
  font-weight: 300;
}

span.sort-symbol {
	font-size: 70%;
}

span.summary-total {
	font-weight: 600;
}