body {
	background: $color-background-page;
	font-family: $font-stack-sans-serif;
	color: $color-text-primary;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}

#header {
	height: 46px;
	background-color: $color-background-banner-primary;	
	background-image: linear-gradient(to bottom, $color-background-banner-secondary, $color-background-banner-primary);
	color: #FFFFFF;
}

#top-banner {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 46px;
	background: $color-background-banner-primary;
	background-image: linear-gradient(to bottom, $color-background-banner-secondary, $color-background-banner-primary);
	margin: 0;
}

#portfolio-link {
	float: right;
	text-align: right;
	padding: 12px 5px 5px 5px;
	font-weight: 300;
  a {
    color: #FFFFFF;
  }
}

#menu-banner {
	position: absolute;
	top: 46px;
	z-index: -1;
	width: 100%;
	height: 36px;
	background: $color-background-menu-primary;
	background-image: linear-gradient(to bottom, $color-background-menu-secondary, $color-background-menu-primary);
	border-top: 1px solid #376092;
	border-bottom: 1px solid #376092;
}

#menu {
	height: 36px;
	margin: 0 -1px;
	padding: 0 2px;
	border-top: 1px solid #376092;
	border-bottom: 1px solid #376092;
	background-color: $color-background-menu-primary;
	background-image: linear-gradient(to bottom, $color-background-menu-secondary, $color-background-menu-primary);
	color: #FFFFFF;
	
	ul {
		padding: 0;
		margin: 0;
	}
	
	li {
		list-style-type: none;
		display: inline-block;
		position: relative;
		top: 1px;
		z-index: 1;
		height: 37px;
		margin: 0;
		padding: 0;
		vertical-align: middle;	
		font-size: 18px;
		font-family: $font-stack-sans-serif;
		font-weight: 300;
	
		a {
			display: block;
			color: inherit;
			height: 28px;
			margin: 0;
			padding: 4px 10px;
			border: none;
			text-decoration: none;
		}
		
		a:hover {
			background-color: #99CCFF;
			color: $color-text-primary;
		}
		
		a.active {
			color: $color-text-primary;
		}

		a.active:hover {
			background-color: #99CCFF;
			color: $color-text-primary;
		}

		a.active_non_link:hover {
			background-color: #FFFFFF;
			color: $color-text-primary;
		}
	}
  
  div.menu-home {
  	display: block;
  	float: left;
  	height: 100%;
  }

  div.menu-main {
  	display: block;
  	float: right;
  	height: 100%;
  }
	
	li.active {
		background-color: #FFFFFF;
		color: $color-text-primary;
	}
}

#breadcrumbs {
	-webkit-text-size-adjust:100%;
	padding: 2px 10px;
	border-left: 1px solid $color-border-page;
	border-right: 1px solid $color-border-page;
	border-bottom: 1px solid $color-border-page;
	font-weight: 300;
}

#admin-actions {
	float: right;
	text-align: right;
	font-size: 100%;
	white-space: nowrap;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	padding: 0;
}

#body {
	padding: 10px;
	border-left: 1px solid $color-border-page;
	border-right: 1px solid $color-border-page;
	border-bottom: 1px solid $color-border-page;
}

#title-info {
	float: right;
	padding-top: 6px;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	
	img {
		margin-left: $margin-icon-to-text;
	}
}

#footer {
	background: $color-background-page;
	color: #435466;
	text-align: center;
	font-size: 90%;
}

#user-footer {
	padding: 2px 10px;
	border-left: 1px solid $color-border-page;
	border-right: 1px solid $color-border-page;
	border-bottom: 1px solid $color-border-page;
	background-color: lighten($color-background-info, 10%);
}


/* Generic fields */
.bold {
	font-weight: 600;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.left {
	text-align: left;
}

.light {
	font-weight: 300;
}

.right {
	text-align: right;
}

.code-mono {
	font-family: $font-stack-monospace;
}


/* Base tags */

abbr {
  text-decoration: none;
  border-bottom: 1px dotted $color-text-primary;
}


a {
	text-decoration: none;
	color: $color-text-link;
}

a:visited {
	color: #75BAFD;
}

a:hover {
	color: $color-text-link-hover;
}

a.sort {
	color: $color-background-menu-primary;
}

a.sort:hover {
	color: #8D4600;
	text-decoration: none;
}

a.warning {
	color: #FF0000 !important;
}

code {
	font-family: $font-stack-monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
  line-height: $line-height-raw-bcbp;
  
  span.active {
    background-color: #444444;
    color: #FFFFFF;
  }
}


div.column {
	display: inline-block;
}

/* Message banners */

div.message {
  margin: 8px 0;
  padding:  5px 10px;
  box-shadow: 1px 1px 2px darken($color-background-message-default, 20%);
  background: $color-background-message-default;
  border: 1px solid darken($color-background-message-default, 20%);
  .title {
    font-weight: 600;
  }
  a {
    color: darken($color-text-link, 20%);
    text-decoration: underline;
  }
  a:hover {
    color: darken($color-text-link-hover, 5%);
  }
}

div.message-info {
  background: $color-background-info;
  border-color: darken($color-background-info, 20%);
}

div.message-success {
  background: $color-background-success;
  border-color: darken($color-background-success, 20%);
}

div.message-warning {
  background: $color-background-warning;
  border-color: darken($color-background-warning, 20%);
}

div.message-error, {
  background: $color-background-error;
  border-color: darken($color-background-error, 20%);
  a {
    padding: 0.2em;
    text-shadow: none;
    font-weight: 400;
    color: darken($color-text-link, 20%);
  }
}

div.field_with_errors {
	display: inline;
	margin-left: 10px;
  input {
  	border: 1px solid #CC0000;
  }
  label {
  	color: $color-text-error;
  }
}

div.graph {
	width: 120px;
	margin: 0;
	border: 1px solid #BED4EA;
	padding: 0 5px;
	background-image: image-url('graph-pixel.png');
	background-position:left center;
	background-repeat:no-repeat;
}

div.graph-background {
	background-color: #FCFCFD;
}

div.hidden-marker {
	float: right;
	background: #FFFF00;
	border: 1px solid $color-text-primary;
	padding: 1px 4px;
	margin-top: 1px;
	margin-left: 8px;
	font-size: 80%;
	font-weight: 600;
}

div.supplemental-code {
	float: right;
	width: 3em;
	text-align: center;
	font-family: $font-stack-monospace;
	font-weight: 300;
	margin-left: $margin-icon-to-text;
	border: 1px solid $color-border-table;
}

div.supplemental-info {
	float: right;
	text-align: right;
	font-weight: 300;
	margin-left: $margin-icon-to-text;
}

div.illustration_container {
	text-align: center;
	margin: 5px;
	
	img {
		max-width: 720px;
		height: auto;
	}
}

div.illustration_credit {
	color: $color-text-secondary;
	font-size: 55%;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
	opacity: 0.6;
}

div.intro_box {
	padding: 10px;
	margin: 2px;
	text-align: center;
	vertical-align: top;
}

div.intro_box h2 {
	margin: 0;
	font-size: 140%;
}

div.intro_box p {
	margin: 0;
	text-align: center;
	font-weight: 400;
	-webkit-text-size-adjust:100%;
}

div.intro_box table {
	margin: 3px 0;
}

div.page_navigation {
	padding: 0;
	margin-top: -15px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
	border-bottom: 1px solid $color-background-page;
}

div.page_navigation ul {
	padding: 0;
	margin: 0;
}

div.page_navigation li {
	list-style-type: none;
	display: inline-block;
	height: 100%;
	margin: 0 -5px;
	padding: 3px 10px;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 600;
}

h1 {
	font-size: 200%;
	margin-top: 10px;
	margin-bottom: 20px;
}
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }

img.airline_icon {
	width: 48px;
	height: 24px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: $margin-icon-to-text;
	vertical-align: middle;
	border: none;
}

img.icon_between_text {
	margin-left: $margin-icon-to-text;
	margin-right: $margin-icon-to-text;
}

img.icon_no_text {
	margin: 0;
}

img.icon_right {
  margin-left: $margin-icon-to-text;
  margin-right: 0;
}

img.country_flag {
	width: 32px;
	height: 22px;
	margin: 1px 3px;
	vertical-align: middle;
	border: none;
}

img.logo {
	border: none;
	width: 361px;
	height: 36px;
	margin-top: 6px;
}

img.photo_gallery {
	border: 1px solid $color-base;
}



p {
	margin-left: $margin-paragraph;
	margin-right: $margin-paragraph;
}

p.comment {
  border-top: 1px solid #BED4EA;
  border-bottom: 1px solid #BED4EA;
  background-color: #F9F9FB;
  padding: 0.25em 0;
}

p.distance {
	text-align: center;
	margin-top: 0;
}

p.new, p.new-legend {
	text-align: center;
  text-shadow: 0 0 3px #FFBB56;
}

p.note {
	text-align: center;
}

p.total {
	-webkit-text-size-adjust:100%
}

p.pre-footer {
	border-top: 1px solid $color-border-page;
	padding-top: 10px;
	text-align: center;
}



span.aircraft-name {
	font-style: italic;
}

span.disabled {
	color: $color-text-disabled;
	text-decoration: line-through;
}

span.distance-primary {
	font-weight: 600;
}

span.distance-secondary {
	color: $color-text-secondary;
	font-weight: 300;
}

span.measurement-unit {
	color: $color-text-secondary;
	font-weight: 300;
}

span.aircraft-manufacturer {
	font-weight: 300;
}

span.flight-city {
	color: $color-text-secondary;
	font-weight: 300;
}

span.flight-code {
	font-size: 150%;
	font-weight: 600;
}

span.flight-route-distance {
	color: $color-text-secondary;
	font-weight: 300;
}

span.flight-section-route {
	color: $color-text-secondary;
	font-size: 85%;
}



span.sort-symbol {
	font-size: 70%;
}

span.summary-total {
	font-weight: 600;
}

/* Tables */
table.flightlog {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0;
	border-collapse: collapse;
	border-bottom: 1px solid #BED4EA;
  
  a {
  	text-decoration: none;
  }
  
  td {
  	padding: 0.5em 0.6em;
  	white-space: nowrap;
  	height: 28px;
  }
  
  td.aircraft-type {
    font-weight: 300;
  }  
  
  td.label {
  	background-color: #FCFCFD;
  	border-right: 2px solid $color-base;
  	font-weight: 600;
  	text-align: right;
  	vertical-align: top;
  }
  
  td.new {
  	background-color: #FFF5E6;
  }
  
  tr.new {
    td {
      background-color: #FFF5E6;
    }
  }
  
  th {
  	padding: 0.5em 0.6em;
  	background-color: #F9F9FB;
  	border-bottom: 2px solid $color-base;
  	height: 28px;
  }
  
  tr {
  	border-top: 1px solid #BED4EA;
  	background-color: $color-background-table;
  }
  
  tr.no-top-border {
  	border-top: none !important;
  }
}

td.flightlog-total {
	-webkit-text-size-adjust:100%;
	background-color: #F9F9FB;
	border-top: 2px solid $color-base;
	text-align: center;
	font-weight: 600;
}

td.flightlog-total span.total-percent {
	font-weight: normal;
}

table.no-border {
	border: none;
	outline: none;
}

table.no-border td {
	border: none;
}

table.flight-large-route {
	margin-top: 0px;
}

td {
	-webkit-text-size-adjust:100%;
}

td a {
	text-shadow: 0px 1px 0px #FFFFFF;
}

td.aircraft-family, th.aircraft-family {
	text-align: left;
}

td.aircraft-flights, th.aircraft-flights {
	text-align: center;
}

td.aircraft-code, th.aircraft-code {
	text-align: center;
}

td.aircraft-name {
	text-align: left;
	font-style: italic;
}

td.airline-airline, th.airline-airline {
	text-align: left;
}

td.airline-flights, th.airline-flights {
	text-align: center;
}

td.airline-code, th.airline-code {
	text-align: center;
}

td.airport-city, th.airport-city {
	text-align: left;
}

td.airport-country, th.airport-country {
	text-align: center;
	vertical-align: middle;
}

td.airport-flights, th.airport-flights {
	text-align: center;
}

td.airport-code, th.airport-code {
	text-align: center;
}

td.airport-distance, th.airport-distance {
	text-align: right;
}

td.airport-visits {
	text-align: center;
}

td.annual-summary, th.annual-summary {
  width: 3em;
  text-align: center;
}

td.annual-summary-undefined, th.annual-summary-undefined {
  color: #FF0000;
  background-color: #FFEEEE !important;
}

td.class-class, th.class-class {
	text-align: left;
}

td.class-flights, th.class-flights {
	text-align: center;
}

td.class-code, th.class-code {
	text-align: center;
}

td.counter {
	color: #C0C9D3;
	text-align: right;
}

th.counter {
	text-align: right;
}

td.flight-aircraft, th.flight-aircraft {
	text-align: center;
}

td.flight-date, th.flight-date {
	text-align: right;
}

td.flight-flight {
	padding-left: 0;
}

th.flight-flight {
	text-align: left;
}

td.flight-tail, th.flight-tail {
	text-align: left;
}

td.flight-airplane-icon {
	font-size: 200%;
	color: #333F4C;
	background: #FFFFFF;
	vertical-align: middle;
}

td.flight-route, th.flight-route {
	text-align: center;
	width: 6em;
}

td.flight-section {
	border-right: 2px solid $color-base;
	text-align: center;
	vertical-align: middle;
	line-height: 1.2;
}

th.flight-section {
	text-align: center;
}

td.flight-show-airport {
	width: 250px;
	line-height: 1.2;
	vertical-align: middle;
	background: #FFFFFF;
}

td.flight-show-label {
	background-color: #FCFCFD;
	border-right: 2px solid $color-base;
	font-weight: 600;
	text-align: right;
	vertical-align: top;
}

td.route-distance, th.route-distance {
	text-align: right;
}

td.route-flights, th.route-flights {
	text-align: center;
}

td.route-route, th.route-route {
	text-align: left;
}

td.superlative-label {
	background-color: #F9F9FB;
	border-right: 2px solid $color-base;
	font-weight: 600;
	text-align: right;
	vertical-align: middle;	
}

td.tail-flights, th.tail-flights {
	text-align: center;
}

td.tail-aircraft {
	color: $color-text-secondary;
	font-weight: 300;
	text-align: center;
  abbr {
    border-bottom-color: $color-text-secondary;
  }
}

td.tail-airline, th.tail-airline {
	text-align: center;
}

td.tail-number, th.tail_number {
	text-align: left;
}

td.subdued {
	color: $color-text-secondary;
  font-weight: 300;
}

td.valid {
  text-align: center;
}

td.year_link {
	text-align: center;
}

th {
	font-weight: 600;
}

th.trip_name {
	text-align: left;
}