div.illustration-container {
	text-align: center;
	margin: 0;
	
	img {
		max-width: 720px;
		height: auto;
	}
}

div.credit {
	color: $color-text-secondary;
	font-size: 55%;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.6;
}

div.illustration-credit {
	margin: 0;
}

div.map-credit {
  margin: 0 0 0.75em 0;
}

// ICONS

img.airline-icon {
  width: 48px;
  height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: $margin-icon-to-text;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
}

img.country-flag-icon {
  width: 32px;
  height: 22px;
  margin: 1px 3px;
  vertical-align: middle;
  border: none;
}

img.icon-between-text {
	margin-left: $margin-icon-to-text;
	margin-right: $margin-icon-to-text;
}

img.icon-no-text {
	margin: 0;
}

img.icon-left {
	margin-left: 0;
	margin-right: $margin-icon-to-text;
}

img.icon-right {
  margin-left: $margin-icon-to-text;
  margin-right: 0;
}

img.star-rating {
	width: auto;
	height: 0.9em;
	vertical-align: baseline;
}

// IMAGES

img.aircraft-illustration {
  margin-bottom: 0.5em;
}

img.logo {
	border: none;
	width: 361px;
	height: 36px;
	margin-top: 6px;
}

img.map {
	border: 1px solid $color-base;
  margin: 0;
}

img.terminal-silhouette {
  
}