// Styles for maps

div.map-gcmap {
  text-align: center;

  img.map {
    border: 1px solid $color-base;
    margin: 0;
  }

  div.map-info {
    margin: 0 0 0.75em 0;
    
    div {
      display: inline;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

}