/* Basic table cell formatting */

  td {
  	-webkit-text-size-adjust:100%;
  }

  td a {
  	text-shadow: 0px 1px 0px #FFFFFF;
  }
  
  th {
  	font-weight: 600;
  }
  
  
/* Table formatting */

  table.flightlog {
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 1em;
  	margin-bottom: 1em;
  	border-spacing: 0;
  	border-collapse: collapse;
  	border-bottom: 1px solid #BED4EA;
  
    a {
    	text-decoration: underline;
    }
  
    td {
    	padding: 0.5em 0.6em;
    	white-space: nowrap;
    	height: 28px;
    }
  
    th {
    	padding: 0.5em 0.6em;
    	background-color: $color-background-table-head;
    	border-bottom: 2px solid $color-base;
      height: 28px;
      
      a {
        text-decoration: none;
      }
    }
  
    tr {
    	border-top: 1px solid #BED4EA;
    	background-color: $color-background-table;
    }
  
    tr.no-top-border {
    	border-top: none !important;
    }
  }

  table.flight-large-route {
    margin-left: auto;
  	margin-right: auto;
  	margin-top: 0;
  	margin-bottom: 1rem;
  	border: none;
    outline: none;
    
    tr {
      border-top: none !important;
    }
    
    td {
      padding: none;
      border: none;
      background-color: $color-background-container;
      text-align: center;      
      vertical-align: middle;      
      line-height: 1;
    }
    
    td.flight-show-airport-airplane-icon {
    	img {
        margin-top: 1rem;
      }
    }

    td.flight-show-airport-flag {
      width: 250px;
      padding: 0.4rem;
    }

    td.flight-show-airport-code {
      font-size: 200%;
      font-weight: $font-weight-bold;
    }

    td.flight-show-airport-city {
      font-weight: normal;
    }
  }

  table.summary {
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 1em;
  	margin-bottom: 1em;
  	border-spacing: 0;
    border-collapse: collapse;

    td, th {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      margin: 0;
      border-left: 1px solid $color-border-table;
      border-right: 1px solid $color-border-table;
      text-align: center;
    }

    th {
      background-color: $color-background-table-head;
      color: $color-text-secondary;
      font-size: $font-size-small;
      text-align: center;
      padding-top: 0.1rem;
      padding-bottom: 0;
    }

    td {
      padding-top: 0;
      padding-bottom: 0.1rem;
      background-color: $color-background-table;
    }

    .summary-count {
      background-color: $color-border-table;
      text-shadow: 0 0 3px $color-background-container;
    }
  }


/* Specific cell formatting */

  /* Labels */
  
  td.label-column {
    /* Used to format the header column of a table */
    background-color: #FCFCFD;
  	border-right: 2px solid $color-base;
  	font-weight: 600;
  	text-align: right;
  	vertical-align: top;
  }
  
  /* Total rows */
  
    td.flightlog-total {
    	-webkit-text-size-adjust:100%;
    	background-color: #F9F9FB;
    	border-top: 2px solid $color-base;
    	text-align: center;
    	font-weight: 600;
    }

    td.flightlog-total span.total-percent {
    	font-weight: normal;
    }
    
  /* Counters */
  
    td.counter {
    	color: #C0C9D3;
    	text-align: center;
    }
    
    th.counter {
    	text-align: center;
    }
    
  /* Annual summaries */
  
    td.annual-summary, th.annual-summary {
      width: 3em;
      text-align: center;
    }

    td.annual-summary-undefined, th.annual-summary-undefined {
      color: #FF0000;
      background-color: #FFEEEE !important;
    } 

  /* Aircraft families */

    td.aircraft-family, th.aircraft-family {
    	text-align: left;
    }

    td.aircraft-flights, th.aircraft-flights {
    	text-align: center;
    }

    td.aircraft-code, th.aircraft-code {
    	text-align: center;
    }

    td.aircraft-name {
    	text-align: left;
    	font-style: italic;
    }
    
    td.aircraft-type {
      font-weight: normal;

      ul.aircraft-type-tree {
        margin: 0;
        padding-left: $margin-indent;
        list-style: none;
        font-weight: normal;

        li.current-type {
          font-weight: bold;
        }
      }

      ul.aircraft-type-tree-top {
        padding-left: 0;
      }
    }
    
  /* Airlines */

    td.airline-airline, th.airline-airline {
    	text-align: left;
    }

    td.airline-flights, th.airline-flights {
    	text-align: center;
    }

    td.airline-code, th.airline-code {
    	text-align: center;
    }

  /* Airports */
  
    td.airport-city, th.airport-city {
    	text-align: left;
    }

    td.airport-country, th.airport-country {
    	text-align: center;
    	vertical-align: middle;
    }

    td.airport-flights, th.airport-flights {
    	text-align: center;
    }

    td.airport-code, th.airport-code {
    	text-align: center;
    }

    td.airport-visits {
    	text-align: center;
    }
    
  /* Classes of service */
    
    td.class-class, th.class-class {
      text-align: left;
      line-height: $line-height-small;
      span.class-description {
        font-size: $font-size-small;
        font-weight: normal;
      }
    }

    td.class-flights, th.class-flights {
    	text-align: center;
    }

    td.class-quality, th.class-quality {
      text-align: center;
    }
    
  /* Flights */
    
    td.flight-aircraft, th.flight-aircraft {
    	text-align: center;
    }

    td.flight-date, th.flight-date {
    	text-align: right;
      width: 5.5em;
    }

    td.flight-flight {
    	padding-left: 0;
    }

    th.flight-flight {
    	text-align: left;
    }

    td.flight-tail, th.flight-tail {
    	text-align: left;
    }

    td.flight-route, th.flight-route {
    	text-align: center;
    	width: 6em;
    }

    td.flight-section {
    	border-right: 2px solid $color-base;
    	text-align: center;
    	vertical-align: middle;
    	line-height: 1.2;
    }

    th.flight-section {
    	text-align: center;
    }

    
    
  /* Routes */
    
    td.route-distance, th.route-distance {
    	text-align: center;
    }

    td.route-flights, th.route-flights {
    	text-align: center;
    }

    td.route-route, th.route-route {
    	text-align: center;
    }

    td.superlatives-distance {
      text-align: right;
    }
    
  /* Tail numbers */
    
    td.tail-flights, th.tail-flights {
    	text-align: center;
    }

    td.tail-aircraft {
    	color: $color-text-secondary;
    	text-align: center;
      abbr {
        border-bottom-color: $color-text-secondary;
      }
    }

    td.tail-airline, th.tail-airline {
    	text-align: center;
    }

    td.tail-number, th.tail_number {
      text-align: left;
      img.country-flag-icon {
        margin-right: $margin-icon-to-text;
      }
    }
    
  /* Trips */
    
    td.trip-name, th.trip-name {
      text-align: left;
    }

    td.section-name {
      text-align: left;
      font-size: $font-size-small;
    }

    th.section-name {
      text-align: left;
    }

    
/* Miscellaneous table cell classes */
  
  tr.new {
    td {
      background-color: #FFF5E6;
    }
  }

  td.subdued {
  	color: $color-text-secondary;
    font-weight: normal;
  }
  
  td.superlatives-label {
  	background-color: #F9F9FB;
  }

  td.year_link {
  	text-align: center;
  }