<% if aircraft_family.illustration_location %>
  <div class="illustration_container">
    <%= image_tag(aircraft_family.illustration_location, alt: "#{aircraft_family.code} illustration") %>
  </div>
  <div class="credit illustration_credit">
    Illustration by <%= link_to("Norebbo", "http://www.norebbo.com/", target: "_blank") %>
  </div>
<% end %>