<% if @aircraft_family.errors.any? %>
  <div class="error">
    <ul>
      <% @aircraft_family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>