<% add_breadcrumb "Aircraft", aircraft_families_path %>

<% if params[:family_id] %>
  <% provide(:title, "New #{@parent_family.name} Type") %>
  <% provide(:button_text, "Add Aircraft Type") %>
  <% type_and_parent_types_breadcrumbs(@parent_family) %>
  <% add_breadcrumb @title, "new_aircraft_family_path(family_id: #{@parent_family.id})" %>
<% else %>
  <% provide(:title, "New Aircraft Family") %>
  <% provide(:button_text, "Add Aircraft Family") %>
  <% add_breadcrumb "New Aircraft Family", new_aircraft_family_path %>
<% end %>

<h1><%= @title %></h1>

<%= render partial: "form" %>