<footer>
  <div id="footer">
    Website created by and &copy; <%= Time.now.year %> <%= link_to "Paul Bogard", "https://www.pbogard.com/", target: "_blank" %>  
    <% if @logo_used %>
      <div>The airline logos used on this page are trademarks of their respective airlines. It is believed that the use of these logos qualifies as nominative fair use under United States trademark law.</div>
    <% end %>
  </div>  
</footer>