<header>
  <div id="header">
    <% logo = image_tag("Flight-Log-Logo.png", :class => "logo", :alt => "Paul Bogardʼs Flight Historian") %>
    <%= link_to logo, root_path %>
    <div id="portfolio-link">
      <%= link_to("paulbogard.net", "https://paulbogard.net/", title: "Paul Bogard", target: "_blank") %>
    </div>
  </div>
</header>