<header>
  <div id="header">
    <% logo = image_tag("Flight-Log-Logo.png", :class => "logo", :alt => "Paul Bogardʼs Flight Historian") %>
    <%= link_to logo, root_path %>
    <div id="portfolio-link">
      <%= link_to("Blog", "https://onehundredairports.com/", title: "Paul Bogardʼs Blog", target: "_blank") %> &middot; <%= link_to("Portfolio", "https://www.pbogard.com/", title: "Paul Bogardʼs Portfolio", target: "_blank")%>
    </div>
  </div>
</header>