<header>
  <div id="header">
    <% logo = image_tag("logo.svg", :class => "logo", :alt => "Paul Bogardʼs Flight Historian") %>
    <%= link_to logo, root_path %>
    <div id="portfolio-link">
      by <%= link_to("Paul Bogard", "https://paulbogard.net/", title: "Paul Bogard", target: "_blank") %>
    </div>
  </div>
</header>