<header>
  <div id="header">
    <% logo = image_tag("Flight-Log-Logo.png", :class => "logo", :alt => "Paul Bogard's Flight Historian") %>
    <%= link_to logo, root_path %>
    <div id="portfolio_link">
      <%= link_to("Blog", "http://onehundredairports.com/", :title => "Paul Bogard's Blog")%> &middot; <%= link_to("Portfolio", "http://pbogard.com/", :title => "Paul Bogard's Portfolio")%>
    </div>
  </div>
</header>