<% counts ||= Hash.new %>
<% summary_items ||= Hash.new %>

<% if summary_items.any? %>
  <table class="summary">
    <tr>
      <% summary_items.keys.each do |title| %>
        <th><%= title %></th>
      <% end %>
    </tr>
    <tr>
      <% summary_items.each do |title, value| %>
        <td id="summary-value-<%= title.to_s.parameterize %>"><%= value %></td>
      <% end %>
    </tr>
  </table>
<% end %>